<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:screenOrientation="sensorPortrait"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="Green Jobs"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:forceDarkAllowed="false"
        android:theme="@style/Theme.MyApplication"
        tools:targetApi="31">
        <activity
            android:name=".Law"
            android:exported="false"
            android:textColor="@color/black"/>
        <activity
            android:name=".Consulting"
            android:exported="false" />
        <activity
            android:name=".chemical"
            android:exported="false" />
        <activity
            android:name=".electrical"
            android:exported="false" />
        <activity
            android:name=".mechanical"
            android:exported="false" />
        <activity
            android:name=".industrial"
            android:exported="false" />
        <activity
            android:name=".civil"
            android:exported="false" />
        <activity
            android:name=".theoretical1"
            android:exported="false" />
        <activity
            android:name=".Engineering"
            android:exported="false" />
        <activity
            android:name=".template"
            android:exported="false" />
        <activity
            android:name=".Practical1"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>